# Don't track content of these folders

.vs/
build/*

.DS_Store
.idea
assets/bedroom/Mesh015.obj
assets/bedroom/Mesh016.obj
assets/bedroom/Mesh017.obj
assets/bedroom/Mesh018.obj
assets/bedroom/Mesh020.obj
assets/bedroom/Mesh021.obj
assets/bedroom/Mesh022.obj
assets/bedroom/Mesh023.obj
assets/bedroom/Mesh024.obj
assets/bedroom/Mesh025.obj
assets/bedroom/Mesh026.obj
assets/bedroom/Mesh027.obj
assets/bedroom/Mesh028.obj
assets/bedroom/Mesh029.obj
assets/bedroom/Mesh030.obj
assets/bedroom/Mesh031.obj
assets/bedroom/Mesh032.obj
assets/bedroom/Mesh033.obj
assets/bedroom/Mesh034.obj
assets/bedroom/Mesh035.obj
assets/bedroom/Mesh036.obj
assets/bedroom/Mesh037.obj
assets/bedroom/Mesh038.obj
assets/bedroom/Mesh039.obj
assets/bedroom/Mesh040.obj
assets/bedroom/Mesh041.obj
assets/bedroom/Mesh042.obj
assets/bedroom/Mesh043.obj
assets/bedroom/Mesh044.obj
assets/bedroom/Mesh045.obj
assets/bedroom/Mesh046.obj
assets/bedroom/Mesh047.obj
assets/bedroom/Mesh048.obj
assets/bedroom/Mesh049.obj
assets/bedroom/Mesh050.obj
assets/bedroom/Mesh051.obj
assets/bedroom/Mesh052.obj
assets/bedroom/Mesh053.obj
assets/bedroom/Mesh054.obj
assets/bedroom/Mesh055.obj
assets/bedroom/Mesh056.obj
assets/bedroom/Mesh057.obj
assets/bedroom/Mesh058.obj
assets/bedroom/Mesh059.obj
assets/bedroom/Mesh060.obj
assets/bedroom/Mesh061.obj
assets/bedroom/Mesh062.obj
assets/bedroom/Mesh063.obj
assets/bedroom/Mesh064.obj
assets/bedroom/Mesh065.obj
assets/bedroom/Mesh066.obj
assets/bedroom/Mesh067.obj
assets/bedroom/Mesh068.obj
assets/bedroom/Mesh069.obj
assets/bedroom/textures/panel-wood-3.jpg
assets/bedroom/textures/Teapot.png
assets/bedroom/textures/wallpaper-1.jpg
assets/bedroom/textures/wood4.jpg
assets/brass_vase_01.bin
assets/brass_vase_01_4k.gltf
assets/Camera_01.bin
assets/Camera_01_4k.gltf
assets/CashRegister_01.bin
assets/CashRegister_01_4k.gltf
assets/Chandelier_01.bin
assets/Chandelier_01_4k.gltf
assets/ClassicConsole_01.bin
assets/ClassicConsole_01_4k.gltf
assets/coffee_maker/Mesh000.obj
assets/coffee_maker/Mesh001.obj
assets/coffee_maker/Mesh002.obj
assets/coffee_maker/Mesh003.obj
assets/coffee_maker/Mesh004.obj
assets/coffee_maker/Mesh005.obj
assets/coffee_maker/Mesh006.obj
assets/coffee_maker/Mesh007.obj
assets/coffee_maker/Mesh008.obj
assets/coffee_maker/Mesh009.obj
assets/coffee_maker/Mesh010.obj
assets/coffee_maker/Mesh011.obj
assets/coffee_maker/Mesh012.obj
assets/coffee_maker/Mesh013.obj
assets/coffee_maker/Mesh014.obj
assets/coffee_maker/Mesh015.obj
assets/coffee_maker/Mesh016.obj
assets/coffee_maker/Mesh017.obj
assets/coffee_maker/Mesh018.obj
assets/coffee_maker/Mesh019.obj
assets/coffee_pot.scene
assets/CoffeeCart_01.bin
assets/CoffeeCart_01_4k.gltf
assets/diningroom.scene
assets/diningroom/book1.obj
assets/diningroom/book10.obj
assets/diningroom/book11.obj
assets/diningroom/book12.obj
assets/diningroom/book13.obj
assets/diningroom/book14.obj
assets/diningroom/book15.obj
assets/diningroom/book16.obj
assets/diningroom/book17.obj
assets/diningroom/book18.obj
assets/diningroom/book2.obj
assets/diningroom/book3.obj
assets/diningroom/book4.obj
assets/diningroom/book5.obj
assets/diningroom/book6.obj
assets/diningroom/book7.obj
assets/diningroom/book8.obj
assets/diningroom/book9.obj
assets/diningroom/bucket1.obj
assets/diningroom/bucket2.obj
assets/diningroom/bucket3.obj
assets/diningroom/bucket4.obj
assets/diningroom/chair_legs.obj
assets/diningroom/chair_nuts.obj
assets/diningroom/chair_rubber_pegs.obj
assets/diningroom/chair_seats.obj
assets/diningroom/cupboards.obj
assets/diningroom/floor.obj
assets/diningroom/floor_frame.obj
assets/diningroom/frame1.obj
assets/diningroom/frame2.obj
assets/diningroom/frontlight.obj
assets/diningroom/frontlight2.obj
assets/diningroom/left_front_wall.obj
assets/diningroom/light1.obj
assets/diningroom/light2.obj
assets/diningroom/light3.obj
assets/diningroom/picture1.obj
assets/diningroom/picture2.obj
assets/diningroom/plant.obj
assets/diningroom/rightwall.obj
assets/diningroom/shelf.obj
assets/diningroom/shelf_book1.obj
assets/diningroom/shelf_book2.obj
assets/diningroom/shelf_object2.obj
assets/diningroom/shelf_objects.obj
assets/diningroom/table_glass.obj
assets/diningroom/table_legs.obj
assets/diningroom/textures/book1.jpg
assets/diningroom/textures/book10.jpg
assets/diningroom/textures/book11.jpg
assets/diningroom/textures/book14.jpg
assets/diningroom/textures/book15.jpg
assets/diningroom/textures/book16.jpg
assets/diningroom/textures/book17.jpg
assets/diningroom/textures/book18.jpg
assets/diningroom/textures/book2.jpg
assets/diningroom/textures/book3.jpg
assets/diningroom/textures/book4.jpg
assets/diningroom/textures/book6.jpg
assets/diningroom/textures/book7.jpg
assets/diningroom/textures/book8.jpg
assets/diningroom/textures/book9.jpg
assets/diningroom/textures/box.jpg
assets/diningroom/textures/floor.jpg
assets/diningroom/textures/painting.jpg
assets/diningroom/textures/shelfbook1.jpg
assets/diningroom/textures/shelfbook2.jpg
assets/diningroom/toplight.obj
assets/diningroom/vase.obj
assets/dragon.scene
assets/dragon/dragon.obj
assets/furnace.scene
assets/furnace/sphere.obj
assets/HDR/Background_05.hdr
assets/HDR/Background_05_v2.hdr
assets/HDR/Credits.txt
assets/HDR/konzerthaus_4k.hdr
assets/HDR/material-test.hdr
assets/HDR/peppermint_powerplant_4k.hdr
assets/HDR/photo_studio_01_1k.hdr
assets/HDR/san_giuseppe_bridge_blurred.hdr
assets/HDR/spiaggia_di_mondello_4k_new.hdr
assets/HDR/syferfontein_18d_clear_1k.hdr
assets/HDR/white_cliff_top_1k.hdr
assets/hyperion_distant_light.scene
assets/jinx.bin
assets/jinx.gltf
assets/jinx.scene
assets/light_tests/floor.obj
assets/material_test/cube.obj
assets/material_test/floor.obj
assets/material_test/sphere.obj
assets/Mustang/Black.obj
assets/Mustang/Body.obj
assets/Mustang/Chrome.obj
assets/Mustang/Floor.obj
assets/Mustang/Front_Blinkers.obj
assets/Mustang/Glass.obj
assets/Mustang/Lights.obj
assets/Mustang/Red_Interior.obj
assets/Mustang/Tail_Lights.obj
assets/Mustang/Tyres.obj
assets/mustang_red.scene
assets/mustang_white.scene
assets/mustang_white_orig.scene
assets/odyssey/cube.obj
assets/odyssey/floor.obj
assets/odyssey/light.obj
assets/panther.scene
assets/panther/background.obj
assets/potted_plant_04.bin
assets/potted_plant_04_4k.gltf
assets/rank3police.scene
assets/rank3police/object10.obj
assets/rank3police/object11.obj
assets/rank3police/object12.obj
assets/rank3police/object13.obj
assets/rank3police/object14.obj
assets/rank3police/object14001.obj
assets/rank3police/object15.obj
assets/rank3police/object16.obj
assets/rank3police/object17.obj
assets/rank3police/object18.obj
assets/rank3police/object19.obj
assets/rank3police/object20.obj
assets/rank3police/object21.obj
assets/rank3police/object22.obj
assets/rank3police/object23.obj
assets/rank3police/object24.obj
assets/rank3police/object25.obj
assets/rank3police/object26.obj
assets/rank3police/object27.obj
assets/rank3police/object28.obj
assets/rank3police/object29.obj
assets/rank3police/object3.obj
assets/rank3police/object30.obj
assets/rank3police/object31.obj
assets/rank3police/object32.obj
assets/rank3police/object33.obj
assets/rank3police/object34.obj
assets/rank3police/object35.obj
assets/rank3police/object36.obj
assets/rank3police/object37.obj
assets/rank3police/object38.obj
assets/rank3police/object39.obj
assets/rank3police/object4.obj
assets/rank3police/object40.obj
assets/rank3police/object41.obj
assets/rank3police/object42.obj
assets/rank3police/object43.obj
assets/rank3police/object44.obj
assets/rank3police/object45.obj
assets/rank3police/object46.obj
assets/rank3police/object47.obj
assets/rank3police/object48.obj
assets/rank3police/object49.obj
assets/rank3police/object5.obj
assets/rank3police/object50.obj
assets/rank3police/object51.obj
assets/rank3police/object52.obj
assets/rank3police/object53.obj
assets/rank3police/object54.obj
assets/rank3police/object55.obj
assets/rank3police/object56.obj
assets/rank3police/object57.obj
assets/rank3police/object58.obj
assets/rank3police/object59.obj
assets/rank3police/object6.obj
assets/rank3police/object60.obj
assets/rank3police/object61.obj
assets/rank3police/object62.obj
assets/rank3police/object63.obj
assets/rank3police/object64.obj
assets/rank3police/object65.obj
assets/rank3police/object66.obj
assets/rank3police/object7.obj
assets/rank3police/object8.obj
assets/rank3police/object9.obj
assets/rank3police/textures/add_details_baseColor.png
assets/rank3police/textures/add_details_metallicRoughness.png
assets/rank3police/textures/backpart_baseColor.png
assets/rank3police/textures/backpart_metallicRoughness.png
assets/rank3police/textures/battery_baseColor.png
assets/rank3police/textures/battery_metallicRoughness.png
assets/rank3police/textures/bolts_baseColor.png
assets/rank3police/textures/bolts_metallicRoughness.png
assets/rank3police/textures/cam2_baseColor.png
assets/rank3police/textures/cam2_metallicRoughness.png
assets/rank3police/textures/comm_block_baseColor.png
assets/rank3police/textures/ctrl_eye_baseColor.png
assets/rank3police/textures/ctrl_eye_metallicRoughness.png
assets/rank3police/textures/glass_baseColor.png
assets/rank3police/textures/glass_metallicRoughness.png
assets/rank3police/textures/helmet_ad_01_baseColor.png
assets/rank3police/textures/helmet_ad_01_metallicRoughness.png
assets/rank3police/textures/helmet_ad_02_baseColor.png
assets/rank3police/textures/helmet_ad_02_metallicRoughness.png
assets/rank3police/textures/helmet_ad_03_baseColor.png
assets/rank3police/textures/helmet_baseColor.png
assets/rank3police/textures/helmet_logo_baseColor.png
assets/rank3police/textures/helmet_metallicRoughness.png
assets/rank3police/textures/helmet_sidelock_baseColor.png
assets/rank3police/textures/helmet_sidelock_metallicRoughness.png
assets/rank3police/textures/helmet_sidepart_02_baseColor.png
assets/rank3police/textures/helmet_sidepart_02_metallicRoughness.png
assets/rank3police/textures/helmet_sidepart_baseColor.png
assets/rank3police/textures/helmet_sidepart_metallicRoughness.png
assets/rank3police/textures/innerpart_baseColor.png
assets/rank3police/textures/innerpart_metallicRoughness.png
assets/rank3police/textures/light_metal_baseColor.png
assets/rank3police/textures/mask_ad_01_baseColor.png
assets/rank3police/textures/mask_ad_01_metallicRoughness.png
assets/rank3police/textures/mask_big_lock_baseColor.png
assets/rank3police/textures/mask_big_lock_metallicRoughness.png
assets/rank3police/textures/mask_dron_baseColor.png
assets/rank3police/textures/mask_dron_metallicRoughness.png
assets/rank3police/textures/mask_gen_baseColor.png
assets/rank3police/textures/mask_gen_metallicRoughness.png
assets/rank3police/textures/mask_part_01_baseColor.png
assets/rank3police/textures/mask_part_01_metallicRoughness.png
assets/rank3police/textures/mask_part_02_baseColor.png
assets/rank3police/textures/mask_part_02_metallicRoughness.png
assets/rank3police/textures/mask_part_03_baseColor.png
assets/rank3police/textures/mask_part_03_metallicRoughness.png
assets/rank3police/textures/mask_part_04_baseColor.png
assets/rank3police/textures/mask_part_04_metallicRoughness.png
assets/rank3police/textures/material_baseColor.png
assets/rank3police/textures/material_metallicRoughness.png
assets/rank3police/textures/mc_block_baseColor.png
assets/rank3police/textures/mc_block_metallicRoughness.png
assets/rank3police/textures/nose_baseColor.png
assets/rank3police/textures/nose_metallicRoughness.png
assets/rank3police/textures/red_parts_baseColor.png
assets/rank3police/textures/red_parts_metallicRoughness.png
assets/rank3police/textures/sd_block_baseColor.png
assets/rank3police/textures/sd_block_metallicRoughness.png
assets/rank3police/textures/skull_head_baseColor.png
assets/rank3police/textures/skull_head_metallicRoughness.png
assets/rank3police/textures/skull_head_normal.png
assets/rank3police/textures/skull_jaw_baseColor.png
assets/rank3police/textures/skull_jaw_metallicRoughness.png
assets/rank3police/textures/skull_jaw_normal.png
assets/rank3police/textures/suit_chest_baseColor.png
assets/rank3police/textures/suit_chest_normal.png
assets/rank3police/textures/suit_collar_baseColor.png
assets/rank3police/textures/suit_collar_normal.png
assets/rank3police/textures/suit_fabric_baseColor.png
assets/rank3police/textures/suit_fabric_metallicRoughness.png
assets/rank3police/textures/suit_fabric_normal.png
assets/rank3police/textures/suit_front_stripe_baseColor.png
assets/rank3police/textures/suit_front_stripe_metallicRoughness.png
assets/rank3police/textures/suit_front_stripe_normal.png
assets/rank3police/textures/suit_strap_baseColor.png
assets/rank3police/textures/suit_strap_metallicRoughness.png
assets/rank3police/textures/suit_zipper_baseColor.png
assets/rank3police/textures/suit_zipper_metallicRoughness.png
assets/rank3police/textures/suit_zipper_normal.png
assets/renderman/background.obj
assets/renderman/cloth.obj
assets/renderman/teapot.obj
assets/renderman/teapot_base.obj
assets/renderman/textures/checker.png
assets/renderman/textures/gold_base.png
assets/renderman/textures/gold_mat_rgh.png
assets/renderman/textures/gold_normal.png
assets/renderman/textures/marble_base.png
assets/renderman/textures/marble_mat_rgh.png
assets/renderman/textures/marble_normal.png
assets/renderman/textures/metal_grid_base.png
assets/renderman/textures/metal_grid_mat_rgh.png
assets/renderman/textures/metal_grid_normal.png
assets/renderman/textures/scratches_base.png
assets/renderman/textures/scratches_mat_rgh.png
assets/renderman/textures/scratches_normal.png
assets/renderman/textures/striped_base.png
assets/renderman/textures/striped_mat_rgh.png
assets/renderman/textures/striped_normal.png
assets/renderman/textures/tiles_base.png
assets/renderman/textures/tiles_mat_rgh.png
assets/renderman/textures/tiles_normal.png
assets/renderman/textures/wood_base.png
assets/renderman/textures/wood_mat_rgh.png
assets/renderman/textures/wood_normal.png
assets/renderman_teapot_all.scene
assets/renderman_teapot_chrome.scene
assets/renderman_teapot_cloth.scene
assets/renderman_teapot_gold.scene
assets/renderman_teapot_red_plastic.scene
assets/renderman_teapot_scratched.scene
assets/renderman_teapot_teal_glass.scene
assets/renderman_teapot_tiles.scene
assets/roughness_mollification.scene
assets/roughness_mollification/background.obj
assets/roughness_mollification/box_and_spheres.obj
assets/slum_house.bin
assets/slum_house.gltf
assets/sofa_03.bin
assets/sofa_03_4k.gltf
assets/spaceship.scene
assets/spaceship/Mesh000.obj
assets/spaceship/Mesh001.obj
assets/spaceship/Mesh002.obj
assets/spaceship/Mesh003.obj
assets/spaceship/Mesh004.obj
assets/spaceship/Mesh005.obj
assets/spaceship/Mesh006.obj
assets/spaceship/Mesh007.obj
assets/spaceship/Mesh008.obj
assets/spaceship/Mesh009.obj
assets/spaceship/Mesh010.obj
assets/spaceship/Mesh011.obj
assets/spaceship/Mesh012.obj
assets/spaceship/Mesh013.obj
assets/spaceship/Mesh014.obj
assets/spaceship/Mesh015.obj
assets/spaceship/Mesh016.obj
assets/spaceship/Mesh017.obj
assets/spaceship/Mesh018.obj
assets/spaceship/Mesh019.obj
assets/spaceship/Mesh020.obj
assets/spaceship/Mesh021.obj
assets/spaceship/Mesh022.obj
assets/spaceship/Mesh023.obj
assets/spaceship/Mesh024.obj
assets/spaceship/Mesh025.obj
assets/spaceship/Mesh026.obj
assets/spaceship/Mesh027.obj
assets/spaceship/Mesh028.obj
assets/spaceship/Mesh029.obj
assets/spaceship/Mesh030.obj
assets/spaceship/Mesh031.obj
assets/spaceship/Mesh032.obj
assets/spaceship/Mesh033.obj
assets/spaceship/Mesh034.obj
assets/spaceship/Mesh035.obj
assets/spaceship/Mesh036.obj
assets/spaceship/Mesh037.obj
assets/spaceship/Mesh038.obj
assets/spaceship/Mesh039.obj
assets/spaceship/Mesh040.obj
assets/spaceship/Mesh041.obj
assets/spaceship/Mesh042.obj
assets/spaceship/Mesh043.obj
assets/spaceship/Mesh044.obj
assets/spaceship/Mesh045.obj
assets/spaceship/Mesh046.obj
assets/spaceship/Mesh047.obj
assets/spaceship/Mesh048.obj
assets/spaceship/Mesh049.obj
assets/spaceship/Mesh050.obj
assets/spaceship/Mesh051.obj
assets/spaceship/Mesh052.obj
assets/spaceship/Mesh053.obj
assets/spaceship/Mesh054.obj
assets/spaceship/Mesh055.obj
assets/spaceship/Mesh056.obj
assets/spaceship/Mesh057.obj
assets/spaceship/Mesh058.obj
assets/spaceship/Mesh059.obj
assets/spaceship/Mesh060.obj
assets/spaceship/Mesh061.obj
assets/spaceship/Mesh062.obj
assets/spaceship/Mesh063.obj
assets/spaceship/Mesh064.obj
assets/spaceship/Mesh065.obj
assets/spaceship/Mesh066.obj
assets/spaceship/Mesh067.obj
assets/spaceship/Mesh068.obj
assets/spaceship/Mesh069.obj
assets/spaceship/Mesh070.obj
assets/spaceship/Mesh071.obj
assets/spaceship/Mesh072.obj
assets/spaceship/Mesh073.obj
assets/spaceship/Mesh074.obj
assets/spaceship/Mesh075.obj
assets/spaceship/Mesh076.obj
assets/spaceship/Mesh077.obj
assets/spaceship/Mesh078.obj
assets/spaceship/Mesh079.obj
assets/spaceship/Mesh080.obj
assets/spaceship/Mesh081.obj
assets/spaceship/Mesh082.obj
assets/spaceship/Mesh083.obj
assets/spaceship/Mesh084.obj
assets/spaceship/Mesh085.obj
assets/spaceship/Mesh086.obj
assets/spaceship/Mesh087.obj
assets/staircase.scene
assets/staircase/Black.obj
assets/staircase/Brass.obj
assets/staircase/BrushedAluminium.obj
assets/staircase/Candles.obj
assets/staircase/ChairSeat.obj
assets/staircase/Emission.obj
assets/staircase/Glass.obj
assets/staircase/Gold.obj
assets/staircase/Lampshade.obj
assets/staircase/MagnoliaPaint.obj
assets/staircase/Painting1.obj
assets/staircase/Painting2.obj
assets/staircase/Painting3.obj
assets/staircase/StainlessSteel.obj
assets/staircase/textures/BrushedAluminium.png
assets/staircase/textures/Fabric.png
assets/staircase/textures/Painting1.png
assets/staircase/textures/Painting2.png
assets/staircase/textures/Painting3.png
assets/staircase/textures/Wallpaper.png
assets/staircase/textures/WoodChair.png
assets/staircase/textures/WoodFloor.png
assets/staircase/textures/WoodFloor1.png
assets/staircase/textures/WoodPanel.png
assets/staircase/Wallpaper.obj
assets/staircase/WhitePaint.obj
assets/staircase/WhitePlastic.obj
assets/staircase/WoodChair.obj
assets/staircase/WoodFloor.obj
assets/staircase/WoodLamp.obj
assets/staircase/WoodStairs.obj
assets/stormtrooper.scene
assets/stormtrooper/box.obj
assets/stormtrooper/frame.obj
assets/stormtrooper/helmets.obj
assets/substance_boy.scene
assets/substance_boy/background.obj
assets/substance_boy/base.obj
assets/substance_boy/body.obj
assets/substance_boy/head.obj
assets/substance_boy/textures/01_Head_Base_Color.png
assets/substance_boy/textures/01_Head_MetallicRoughness.png
assets/substance_boy/textures/01_Head_Normal_DirectX.png
assets/substance_boy/textures/02_Body_Base_Color.png
assets/substance_boy/textures/02_Body_MetallicRoughness.png
assets/substance_boy/textures/02_Body_Normal_DirectX.png
assets/substance_boy/textures/03_Base_Base_Color.png
assets/substance_boy/textures/03_Base_MetallicRoughness.png
assets/substance_boy/textures/03_Base_Normal_DirectX.png
assets/substance_boy/textures/grid.jpg
assets/substance_boy_volume.scene
assets/tea_set_01.bin
assets/tea_set_01_4k.gltf
assets/test_material.scene
assets/test_mis.scene
assets/test_sphere_light_large.scene
assets/test_sphere_light_medium.scene
assets/test_sphere_light_small.scene
assets/test_veach.scene
assets/textures/01_-_Default_baseColor.png
assets/textures/01_-_Default_metallicRoughness.png
assets/textures/01_-_Default_normal.png
assets/textures/02_-_Default_baseColor.png
assets/textures/02_-_Default_emissive.png
assets/textures/02_-_Default_metallicRoughness.png
assets/textures/02_-_Default_normal.png
assets/textures/03_-_Default_baseColor.png
assets/textures/03_-_Default_metallicRoughness.png
assets/textures/03_-_Default_normal.png
assets/textures/BarberShopChair_01_arm_4k.jpg
assets/textures/BarberShopChair_01_diff_4k.jpg
assets/textures/BarberShopChair_01_nor_gl_4k.jpg
assets/textures/brass_vase_01_arm_4k.jpg
assets/textures/brass_vase_01_diff_4k.jpg
assets/textures/brass_vase_01_nor_gl_4k.jpg
assets/textures/Camera_01_body_arm_4k.jpg
assets/textures/Camera_01_body_diff_4k.jpg
assets/textures/Camera_01_body_nor_gl_4k.jpg
assets/textures/Camera_01_lens_body_arm_4k.jpg
assets/textures/Camera_01_lens_body_diff_4k.jpg
assets/textures/Camera_01_lens_body_nor_gl_4k.jpg
assets/textures/Camera_01_strap_arm_4k.jpg
assets/textures/Camera_01_strap_diff_4k.jpg
assets/textures/Camera_01_strap_nor_gl_4k.jpg
assets/textures/CashRegister_01_arm_4k.jpg
assets/textures/CashRegister_01_diff_4k.jpg
assets/textures/CashRegister_01_glass_arm_4k.jpg
assets/textures/CashRegister_01_glass_diff_4k.jpg
assets/textures/CashRegister_01_glass_nor_gl_4k.jpg
assets/textures/CashRegister_01_nor_gl_4k.jpg
assets/textures/Chandelier_01_arm_4k.jpg
assets/textures/Chandelier_01_diff_4k.jpg
assets/textures/Chandelier_01_nor_gl_4k.jpg
assets/textures/ClassicConsole_01_arm_4k.jpg
assets/textures/ClassicConsole_01_diff_4k.jpg
assets/textures/ClassicConsole_01_nor_gl_4k.jpg
assets/textures/CoffeeCart_01_cart_arm_4k.jpg
assets/textures/CoffeeCart_01_cart_diff_4k.jpg
assets/textures/CoffeeCart_01_cart_nor_gl_4k.jpg
assets/textures/CoffeeCart_01_props_arm_4k.jpg
assets/textures/CoffeeCart_01_props_diff_4k.jpg
assets/textures/CoffeeCart_01_props_nor_gl_4k.jpg
assets/textures/mat0_Bangs_baseColor.png
assets/textures/mat0_Bangs_metallicRoughness.png
assets/textures/mat0_BG_baseColor.png
assets/textures/mat0_BG_metallicRoughness.png
assets/textures/mat0_Blast_baseColor.png
assets/textures/mat0_Blast_metallicRoughness.png
assets/textures/mat0_Braids_baseColor.png
assets/textures/mat0_Braids_metallicRoughness.png
assets/textures/mat0_Chest_baseColor.png
assets/textures/mat0_Chest_metallicRoughness.png
assets/textures/mat0_Ears_baseColor.png
assets/textures/mat0_Ears_metallicRoughness.png
assets/textures/mat0_Eyes_baseColor.png
assets/textures/mat0_Eyes_metallicRoughness.png
assets/textures/mat0_FX_baseColor.png
assets/textures/mat0_FX_metallicRoughness.png
assets/textures/mat0_Hair_baseColor.png
assets/textures/mat0_Hair_Bracelet_2_baseColor.png
assets/textures/mat0_Hair_Bracelet_2_metallicRoughness.png
assets/textures/mat0_Hair_metallicRoughness.png
assets/textures/mat0_Head_baseColor.png
assets/textures/mat0_Head_metallicRoughness.png
assets/textures/mat0_Lashes_baseColor.png
assets/textures/mat0_Lashes_metallicRoughness.png
assets/textures/mat0_Pin_baseColor.png
assets/textures/mat0_Pin_metallicRoughness.png
assets/textures/mat0_Teeth_baseColor.png
assets/textures/mat0_Teeth_metallicRoughness.png
assets/textures/potted_plant_04_arm_4k.jpg
assets/textures/potted_plant_04_diff_4k.jpg
assets/textures/potted_plant_04_nor_gl_4k.jpg
assets/textures/sofa_03_diff_4k.jpg
assets/textures/sofa_03_nor_gl_4k.jpg
assets/textures/sofa_03_rough_4k.jpg
assets/textures/tea_set_01_arm_4k.jpg
assets/textures/tea_set_01_diff_4k.jpg
assets/textures/tea_set_01_nor_gl_4k.jpg
assets/tropical_island.scene
assets/tropical_island/boat.obj
assets/tropical_island/dock1.obj
assets/tropical_island/dock2.obj
assets/tropical_island/floor.obj
assets/tropical_island/grass.obj
assets/tropical_island/leaf1.obj
assets/tropical_island/leaf10.obj
assets/tropical_island/leaf11.obj
assets/tropical_island/leaf12.obj
assets/tropical_island/leaf13.obj
assets/tropical_island/leaf14.obj
assets/tropical_island/leaf15.obj
assets/tropical_island/leaf16.obj
assets/tropical_island/leaf17.obj
assets/tropical_island/leaf18.obj
assets/tropical_island/leaf19.obj
assets/tropical_island/leaf2.obj
assets/tropical_island/leaf20.obj
assets/tropical_island/leaf21.obj
assets/tropical_island/leaf22.obj
assets/tropical_island/leaf23.obj
assets/tropical_island/leaf24.obj
assets/tropical_island/leaf25.obj
assets/tropical_island/leaf3.obj
assets/tropical_island/leaf4.obj
assets/tropical_island/leaf5.obj
assets/tropical_island/leaf6.obj
assets/tropical_island/leaf7.obj
assets/tropical_island/leaf8.obj
assets/tropical_island/leaf9.obj
assets/tropical_island/leaves.glb
assets/tropical_island/oar1.obj
assets/tropical_island/oar2.obj
assets/tropical_island/plank1.obj
assets/tropical_island/plank2.obj
assets/tropical_island/plank3.obj
assets/tropical_island/rock1.obj
assets/tropical_island/rock2.obj
assets/tropical_island/rock3.obj
assets/tropical_island/rock4.obj
assets/tropical_island/rock5.obj
assets/tropical_island/rock6.obj
assets/tropical_island/rock7.obj
assets/tropical_island/rope.obj
assets/tropical_island/sand.obj
assets/tropical_island/shortleaf1.obj
assets/tropical_island/shortleaf10.obj
assets/tropical_island/shortleaf11.obj
assets/tropical_island/shortleaf12.obj
assets/tropical_island/shortleaf13.obj
assets/tropical_island/shortleaf14.obj
assets/tropical_island/shortleaf15.obj
assets/tropical_island/shortleaf2.obj
assets/tropical_island/shortleaf3.obj
assets/tropical_island/shortleaf4.obj
assets/tropical_island/shortleaf5.obj
assets/tropical_island/shortleaf6.obj
assets/tropical_island/shortleaf7.obj
assets/tropical_island/shortleaf8.obj
assets/tropical_island/shortleaf9.obj
assets/tropical_island/textures/palm.png
assets/tropical_island/trunk1.obj
assets/tropical_island/trunk2.obj
assets/tropical_island/water.obj
assets/tungsten-material-testball.scene
assets/tungsten-material-testball/models/Mesh000.obj
assets/tungsten-material-testball/models/Mesh001.obj
assets/tungsten-material-testball/models/Mesh002.obj
assets/tungsten-material-testball/models/Plane.obj
assets/tungsten-material-testball/textures/checker.png
assets/veach/floor.obj
assets/veach/plate1.obj
assets/veach/plate2.obj
assets/veach/plate3.obj
assets/veach/plate4.obj
assets/veach/wall.obj
